/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  color: #ffcc00;
}

p, input, button {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.navbar a:hover {
  color: #ffcc00;
}

button {
  background-color: #ffcc00;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e6b800;
}
